# Config for AWS S3 artifact storage plugin
# Replace <value> with the required parameters
aws:
  awsCredentials:
    region: "<region>>"
  s3:
    container: "<s3-bucket-name>"
unclassified:
  artifactManager:
    artifactManagerFactories:
    - jclouds:
        provider: "s3"
